# Python
__pycache__/
*.py[cod]
.env

# Ignore virtual environments
backend_venv

venv

airflow_env

# Ignore Airflow logs, PIDs, DB, and configs
backend/airflow/logs/
backend/airflow/*.log
backend/airflow/*.out
backend/airflow/*.err
backend/airflow/*.pid
backend/airflow/airflow.db
backend/airflow/airflow.cfg
backend/airflow/webserver_config.py
backend/airflow_env/
standalone_admin_password.txt

# Ignore database files
*.sqlite3
*.csv
backend/datasets/

# Ignore temp files
Temp/
*.log

# Node
node_modules/
.next/
.DS_Store

# React
build/
.parcel-cache/

# Ignore OS-specific files
.DS_Store
Thumbs.db
