# Python
__pycache__/
*.py[cod]
.env
.env.local

# Ignore virtual environments
sc_env

# Ignore Airflow logs, PIDs, DB, and configs
standalone_admin_password.txt
static

# Ignore database files
*.sqlite3
/datasets/archive
/datasets/templates
/user_schemas/*.csv

# Allow these
!/datasets/master
!/user_schemas/.gitkeep

# Ignore temp files
Temp/
*.log

# Ignore Logs
data/mongo
airflow/logs/dag_id=load_mongo_to_postgres_dag
airflow/logs/dag_id=transform_mongo_to_postgres_dag
airflow/logs/dag_processor_manager
airflow/logs/dag_id=ingest_csv_to_mongo_dag
airflow/logs/scheduler

# Allow these
!/airflow/logs/.gitkeep

# Node
node_modules/
.next/
.DS_Store

# React
build/
.parcel-cache/

# Ignore OS-specific files
.DS_Store
Thumbs.db
