# Python
__pycache__/
*.py[cod]
.env

# Ignore virtual environments
venv/
airflow/airflow.cfg
airflow/.env
venv

# Ignore database files
*.sqlite3

# Ignore temp files
Temp/
*.log

# Node
node_modules/
.next/
.DS_Store

# React
build/
.parcel-cache/

# Ignore OS-specific files
.DS_Store
Thumbs.db
airflow_env/
