@keyframes shake {
  0% { transform: rotate(-1.5deg) scale(1.01); }
  10% { transform: rotate(1.5deg) scale(1.01); }
  20% { transform: rotate(-1.5deg) scale(0.99); }
  30% { transform: rotate(1.5deg) scale(1.01); }
  40% { transform: rotate(-2deg) scale(1.01); }
  50% { transform: rotate(2deg) scale(1.01); }
  60% { transform: rotate(-1.5deg) scale(0.99); }
  70% { transform: rotate(1.5deg) scale(1.01); }
  80% { transform: rotate(-1.5deg) scale(1.01); }
  90% { transform: rotate(1.5deg) scale(1.01); }
  100% { transform: rotate(-1.5deg) scale(1.01); }
}
.shake-edit {
  animation: shake 0.5s infinite both;
}

.react-resizable-handle {
  width: 36px !important;
  height: 36px !important;
  right: 2px;
  bottom: 2px;
  z-index: 20;
  background: none !important;
}